html {
  height: 100%;
}

body, #root, .app-wrapper {
  font-family: 'Proxima Nova Regular';
  margin: auto;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3f3;
}

a {
  text-decoration: none !important;
}
